
	<div class="modal-header">
		<h4 class="modal-title">Yay Modals</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeModalButton()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="message">Message</label>
			<div class="input-group">
				<textarea name="message" rows="1" id="message" class="form-control"  required maxlength="140" placeholder="what would you like to chirp about"></textarea>
			</div>
		</div>
	</div>


